In [161]:
#Import dependencies
from splinter import Browser 
from bs4 import BeautifulSoup as bs
import requests
from time import sleep
import pandas as pd

In [165]:
#Create a path to open a chrome window
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

#  NASA Mars News

In [127]:
url = 'https://mars.nasa.gov/news'

In [128]:
#Retrieve the page with the requested module
browser.visit(url)

In [129]:
news_html = browser.html

In [130]:
#Create Beautiful Soup Object
soup = bs(news_html, 'html.parser')

In [132]:
#Make sure it works 
#soup.prettify

In [133]:
#Collect the latest news title and assign it a variable 
title = soup.find('div', class_ ="content_title")
news_title = title.text
news_title

"NASA's MRO Completes 60,000 Trips Around Mars"

In [134]:
#Collect the latest news title's paragraph text and assign it a variable 
tp = soup.find('div', class_='article_teaser_body')
news_p = tp.text
news_p

'The orbiting spacecraft is also about to set a record for data relayed from the Martian surface.'

# JPL Mars Space Images

In [166]:
#Navigate to the url: 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
#Use splinter to to find the site's Featured Mars Image
url_img ='https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url_img)

In [167]:
#Save the html object
featured_image_html = browser.html

In [168]:
#Click through a series of buttons to get to the full image
img_Butn = browser.find_by_xpath('//*[@id="full_image"]')
img_Butn.click()
if browser.is_element_not_present_by_xpath('//*[@id="fancybox-lock"]/div/div[2]/div/div[1]/a[2]'):
    sleep(2)
more_button = browser.find_by_xpath('//*[@id="fancybox-lock"]/div/div[2]/div/div[1]/a[2]')
more_button.click()
sleep(1)
featured_img_url = browser.find_by_xpath('//*[@id="page"]/section[1]/div/article/figure/a')['href']
print(featured_img_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA18087_hires.jpg

# Mars Weather

In [141]:
#Visit the Mars Weather twitter account 
url_twit = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url_twit)

In [142]:
#Save the html object 
weather_html= browser.html

In [143]:
#Create Beautiful Soup Object
soup = bs(weather_html, 'html.parser')

In [144]:
tweet = soup.find('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text')
mars_weather = tweet.text
mars_weather

'InSight sol 167 (2019-05-17) low -100.5ºC (-148.9ºF) high -20.4ºC (-4.6ºF)\nwinds from the SW at 4.7 m/s (10.6 mph) gusting to 13.5 m/s (30.3 mph)\npressure at 7.50 hPapic.twitter.com/0Eqt9nN21o'

# Mars Facts

In [145]:
#Visit the Mars Facts Web Page  
url_fct = 'https://space-facts.com/mars/'
browser.visit(url_fct)

In [146]:
tables = pd.read_html(url_fct)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [147]:
type(tables[0])

pandas.core.frame.DataFrame

In [148]:
#Use pandas to convert data into a html string 
tables[0].to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [149]:
df = tables[0]
df.columns =['Description', 'Value']
df.head()

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)

# Mars Hemisperes

In [150]:
#Visit the USGS Astrology site 
hemisperes_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url_hems)

In [151]:
#Save the html object
hemisperes_html = browser.html

In [152]:
#Parse html with beautiful soup 
soup = bs(hemisperes_html, 'html.parser')

In [153]:
#Retrieve all the items that contain mars hemisphere information 
items = soup.find_all('div', class_= 'item')

In [158]:
#Create an empyt list to save the titles and the urls 
hemisperes_img_urls=[]

In [155]:
#Store the main url 
hemisperes_main_url = 'https://astrogeology.usgs.gov'

In [159]:
#Loop through the stored items and gather the title and full img urls 
for item in items:
    title = item.find('h3').text
    #Gather the link that will take us to the full image
    partial_img_url = item.find('a', class_='itemLink product-item')['href']
    #Visit the page with the full image using the main url and the partial url 
    browser.visit(hemisperes_main_url + partial_img_url)
    #Save html object for the mars information page 
    partial_img_url = browser.html 
    #Parse html since we're now on a new page
    soup = bs(partial_img_url, 'html.parser')
    #Save the image url source
    img_url = hemisperes_main_url + soup.find('img', class_ = 'wide-image')['src']
    #Put all our gathered information as a dictionary into the empty list we made earlier 
    hemisperes_img_urls.append({'title':title, 'img_url':img_url})

#Show our dictionary 
hemisperes_img_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]